@{
    ViewBag.Title = "About";
}

<div class="hero-unit">
    <h1>
        About PatientPending!</h1>
    <p>
        Patient Pending is an attempt to collaboratively build a patient administration application that isn't complex to use, extend or maintain. A secondary aim of this sample application is to further our knowledge of key software patterns and practices in a domain that we know relatively well.</p>
    <p>
        <a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
