@{
    ViewBag.Title = "Contact";
}

<div class="hero-unit">
    <h1>
        Contact Us at PatientPending!</h1>
    <p>
        This is a default contact page. Current contributors to this OSS project are <a href="http://www.twitter.com/fumblewit">Paul Upson</a> and <a href="http://www.twitter.com/craigcav">Craig Cavalier</a>.</p>
    <p>
        <a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>